figs/
output_data/
src_rec_Turkey.dat
.DS_Store
CHS/1_src_rec_files/src_rec_file.dat
CHS/Step1_Data_Process/traveltime_data/src_rec_Turkey.dat
CHS/Step1_Data_Process/figs/*
CHS/Step1_Data_Process/output_data/*

CHS/Step2_Initial_Model/figs/*
CHS/Step2_Initial_Model/output_model/*

CHS/Step4_ckb_model/figs/*
CHS/Step4_ckb_model/output_model/*

CHS/1_src_rec_files/*
CHS/2_models/*
CHS/figs/*
CHS/OUTPUT_FILES/OUTPUT_FILES_step1_1D_inv
CHS/OUTPUT_FILES/OUTPUT_FILES_step2_reloc
CHS/OUTPUT_FILES/OUTPUT_FILES_step3_inv_reloc
CHS/OUTPUT_FILES/OUTPUT_FILES_step3_inv_reloc_100iter
CHS/OUTPUT_FILES/OUTPUT_FILES_ckb_signal
CHS/OUTPUT_FILES/OUTPUT_FILES_ckb_inv
CHS/OUTPUT_FILES/OUTPUT_FILES_ckb_inv_80iter


CHS/utils/__pycache__
CHS/bin/*
CHS/params_log.yaml
CHS/time.txt



ENG/Step1_Data_Process/traveltime_data/src_rec_Turkey.dat
ENG/Step1_Data_Process/figs/*
ENG/Step1_Data_Process/output_data/*

ENG/Step2_Initial_Model/figs/*
ENG/Step2_Initial_Model/output_model/*

ENG/Step4_ckb_model/figs/*
ENG/Step4_ckb_model/output_model/*

ENG/1_src_rec_files/*
ENG/2_models/*
ENG/figs/*
ENG/OUTPUT_FILES/OUTPUT_FILES_step1_1D_inv
ENG/OUTPUT_FILES/OUTPUT_FILES_step2_reloc
ENG/OUTPUT_FILES/OUTPUT_FILES_step3_inv_reloc
ENG/OUTPUT_FILES/OUTPUT_FILES_step3_inv_reloc_100iter
ENG/OUTPUT_FILES/OUTPUT_FILES_ckb_signal
ENG/OUTPUT_FILES/OUTPUT_FILES_ckb_inv
ENG/OUTPUT_FILES/OUTPUT_FILES_ckb_inv_80iter


CHS/utils/__pycache__
CHS/bin/*
CHS/params_log.yaml
CHS/time.txt

CHS/old